.vertical-menu-pos {
  margin-top: 30px !important;
}

.shop-icon {
  font-size: 25px !important;
}

.ui.orange.label.shop-label {
  margin-left: -4px;
}

.label-product {
  z-index: 10;
  margin-left: -2px;
}

.header-products {
  margin-top: 130px !important;
}

.filter-checkbox {
  color: #FFFFFF !important;
}

.breadcrumb-products {
  margin-top: 25px !important;
}

.multiple-session {
  margin-left: -3px !important;
}

.ui.checkbox .checkbox-color {
  color: #8D8D8E;
}

.ui.checkbox .checkbox-color:hover {
  color: #FFFFFF;
}

.product-card {
  margin-bottom: 50px;
}

.price {
  font-size: 22px;
  font-weight: bold;
}

.price:hover {
  color: #F2711C !important;
}

.ui.grid.center.aligned.pagination-pos {
  padding: 40px 0;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}